*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width : 100%;
    background-color: black;
    gap: 1rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,200px);
    padding: 1rem;
    /*justify-items: center;
    justify-items: center;
    align-items: center;*/
    place-items: center;
}
.item{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 5px solid white;
    /*
    align-self: stretch;
    justify-self: stretch;
    place-self: center ;
    */
}